.checkbox label  {
  font-size: 18px;
}

.btn  {
  font-size: 18px;
}

.control-label {
  font-size: 18px;
}

.radio {
  font-size: 18px;
}

#summary  {
  font-size: 24px;
}

.box-title {
  font-size: 24px;
}
 